 .btn-success{
    margin-top:10px;

}

.item-description {
    text-align:center;
}
.col-md-4 {

    vertical-align:middle;
    text-align:center
}

.row {
    margin-top:10px;
}

img {
    border-radius:4px;
    box-shadow: 3px 3px 1px #888888;
}
