 .btn{
     height:35px;
     width:110px;
     color:#fff;
     background-color:#99CC33;
     text-shadow: 0 1px 0 rgba(0,0,0,0.3);
     font-size: 1.1em!important;
     font-weight: bold!important;

    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;

}

.item-description {
    text-align:center;
}
.col-md-4 {
    vertical-align:middle;
    text-align:center;
    padding-bottom:10px;
}

.row {
    margin-top:20px;
    
}
.row-display {
    margin-top:30px;
    width: 100%;
    background-color:#0099CC;
    border:solid white 1px;
    border-radius:10px;
    color:#fff;
    box-shadow: 3px 3px 1px #888888;
}
p {
    text-align:justify;
}
.img-responsive {
    width：200px;
    height:150px;
    margin-left:auto;
    margin-right:auto;
    border-radius:10px;
    margin-top:10px;
    box-shadow: 3px 3px 1px #888888;
}
